@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }

  #coe-print-area,
  #coe-print-area * {
    visibility: visible;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  #coe-print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}